@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    color-scheme: light dark;
  }

  @font-face {
    font-family: sunflower;
    src: url(./assets/fonts/Sunflower-Light.ttf) format("truetype");
    font-weight: 300;
  }

  @font-face {
    font-family: sunflower;
    src: url(./assets/fonts/Sunflower-Medium.ttf) format("truetype");
    font-weight: 500;
  }

  @font-face {
    font-family: sunflower;
    src: url(./assets/fonts/Sunflower-Bold.ttf) format("truetype");
    font-weight: 700;
  }

  html,
  body {
    height: 100vh;
    color: light-dark(#000, #fff);
    font-family: "sunflower", sans-serif;
    background-color: light-dark(#eaeaea, #1c1c1c);
    font-weight: 300;
    -webkit-font-smoothing: antialiased !important;
  }
}
